body {
    width: 100%;
    height: 100vh;
    display: grid;
    background-image: url("bg.jpg");
    grid-template-rows: 15% 70% 15%;
    font-size: 16px;
    line-height: 1.5;
    font-family: Helvetica, Arial, sans-serif;
    grid-template-areas: 
    "header"
    "main"
    "footer"    
    ;
}

header {
    grid-area: "header";
    background-color:rgba(211, 222, 232, 0.2);
    text-align: center;
}

main {
    grid-area: "main";
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-areas: 
    "imagenes datos"
    ;
}

footer {
    grid-area: "footer";
    background-color:rgba(211, 222, 232, 0.2);
    text-align: right;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}


#fotosProducto{
    grid-area: "imagenes";
    display: grid;
    height: 65vh;
    margin-top: 6vh;
    grid-template-rows: 70% 30%;
    grid-template-areas: 
    "imgPrincipal"
    "galeria"
    ;  
}

#datosProducto{
    grid-area: "datos";
    display: grid;
    height: 60vh;
    margin-top: 5vh;
    grid-template-rows: 10% 10% 70%;
    grid-template-columns: 90%;
    justify-content: space-around;
    background-color:rgba(211, 222, 232, 0.2);
    grid-template-areas: 
    "nomProducto"
    "subProducto"
    "datosPago"    
    ;
}


#imagenPrincipal{
    grid-area: "imgPrincipal";
}

#galeria{
    grid-area: "galeria";
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.miniatura {
    width: 20%;
    height: 50%;
}

#nombreProducto{
    grid-area: "nomProducto";
}

#subProducto{
    grid-area: "subProducto";
}

#datosPago{
    grid-area: "datosPago";
    display: grid;
    grid-template-rows: 70% 30%;
    grid-template-areas: 
    "descripcion"
    "precio"
    ;
}

#descripcion{
    grid-area: "descripcion";
}

#precio{
    grid-area: "precio";
    background-color:rgba(211, 222, 232, 0.4);
    display: grid;
    align-items: center;
    justify-items: center;
    justify-content: space-evenly;
    grid-template-columns: 40% 20% 30%;
    grid-template-areas: 
    "precioUnidad unidades pagoPaypal"
    ;
}

#precioUnidad{
    grid-area: "precioUnidad";
    height: 5%;
    justify-self: start;
}

#unidades{
    grid-area: "unidades";
    height: 15%;
}

#paypal-button-container{
    grid-area: "pagoPaypal";
    height: 20%;
    width: 80%;
}

main img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
  }

  a {
      text-decoration: none;
      margin-right: 4vw;
  }


@media (max-width: 400px)  {


    body {
    display: grid;
    background-image: url("bg.jpg");
    grid-template-rows: auto auto auto;
    grid-template-columns: 100%;
    font-size: 16px;
    line-height: 1.5;
    font-family: Helvetica, Arial, sans-serif;
    grid-template-areas: 
    "header"
    "main"
    "footer"    
    ;
}

main {
    grid-area: "main";
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 100%;
    grid-template-areas: 
    "imagenes"
    "datos";
}
#datosPago{
    grid-area: "datosPago";
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 100%;
    grid-template-areas: 
    "precio"
    ;
}

#descripcion{
    display: none;
}

#precio{
    grid-area: "precio";
    background-color:rgba(211, 222, 232, 0.4);
    display: grid;
    align-items: center;
    justify-items: center;
    justify-content: space-evenly;
    grid-template-rows: auto auto auto;
    grid-template-columns: 100%;
    grid-template-areas: 
    "precioUnidad" 
    "unidades" 
    "pagoPaypal"
    ;
}

}